// <div>
// <div className="sideLogo__container">
//     <h3 className='sideLogo__title' >Board.</h3>
// </div>
// <div className="login__content">
//     <div className="login__heading">
//         Sign In
//     </div>
//     <div className="login__subheading">
//         Sign in to your account
//     </div>
//     <div className="login__accounts">
//         <div className="login__accounts__google">Sign in with Google</div>
//         <div className="login__accounts__apple">Sign in with Apple</div>
//     </div>
//     <div className="login__form__container">
//         <div className="login__form">
//             <label htmlFor="loginemail">Email</label>
//             <input type="email" name="loginemail" id="loginemail" />
//             <label htmlFor="loginpass">Email</label>
//             <input type="email" name="loginpass" id="loginpass" />
//             <div className="login__form__forgotpass">
//                 Forgot password?
//             </div>
//             <div className="login__form__submit">
//                 Sign in
//             </div>
//         </div>
//     </div>
//     <div className="register">
//         <span className='text-blue'>
//             <span className="text-muted">
//                 Don't have an account?
//             </span> Register here
//         </span>
//     </div>
// </div>
// </div>

.sideLogo {
    &__container {
        width: 40vw;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-weight: bold;
        font-size: 72px;
        color: white;
        width: fit-content;
        display: block;
        height: 10px;
    }
}

.login {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #EAEAEA;

    &__heading {
        font-weight: bold;
        font-size: 36px;
    }

    &__subheading {
        font-weight: bold;
        font-size: 16px;
        padding-top: 3px;
    }

    &__content {
        width: 50%;
        max-width: 385px;
        margin: auto auto;
    }

    &__accounts {
        display: flex;
        width: 100%;
        gap: 25px;

        &__google,
        &__apple {
            background-color: white;
            border-radius: 10px;
            height: 40px;
            min-width: max-content;
            width: 180px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 26px;
            margin-bottom: 26px;
            padding-left: 16px;
            padding-right: 16px;
            color: #858585;
            font-size: 12px;

            &__text {
                padding-left: 5px;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 30px;

        &__forgotpass {
            padding-left: 30px;
            color: #346BD4;
        }

        &__submit {
            background: #000000;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            height: 40px;
            width: 325px;
            border-radius: 10px;
            cursor: pointer;
        }

        &__container {
            max-height: 336px;
            height: 356px;
            min-height: 270px;
            width: 385px;
            border-radius: 20px;
            background-color: white;

            input {
                width: 325px;
                height: 40px;
                background: #F5F5F5;
                border-radius: 10px;
                outline: 0;
                border: 0;
                color: black;
                padding-left: 15px;

            }

            // display: flex;
            // justify-content: center;
            // align-items: center;
        }


    }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 30px 0 30px;

    label {
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

    }
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .text-blue {
        color: #346BD4;
        cursor: pointer;
    }

    .text-muted {
        color: gray;
    }
}