.linegraph {
    margin-Top: 30px;
    padding-top: 15px;
    border-radius: 30px;
    background: white;
    margin-left: 50px;
    // margin-right: auto;
    width: calc(94%);
    height: 280px;

    &__legend {
        display: flex;
        justify-content: flex-end;
    }

    &__title {
        font-weight: bold;
        font-size: 18px;
        margin-left: 70px;
        margin-top: 20px;
    }

    &__daterange {
        margin-left: 70px;
        font-size: 12px;
        padding-top: 0.5rem;
        select{
            color:#858585 !important;
        }
    }

    &__container {
        margin-top: 40px;
        background: white;
        margin-left: 40px;
        // margin-right: auto;
        width: calc(100% - 120px);
        height: 190px;
    }
}

.recharts-default-legend {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.recharts-cartesian-axis-tick-line {
    display: none;
}